extends layout.pug

append head
    script(src="/javascripts/collections.js" type="module" defer)
    link(rel="stylesheet", href="/stylesheets/collections.css")
block content
    .buttonContainer
        button.allButton All Trails
        button.visitedButton Visited Trails
        button.wantToVisit Trails that you want to visit
    .allContainer#container
    .errorContainer
        p.actualError
