extends layout.pug

append head
    script(src="/javascripts/collections.js" type="module" defer)
block content

    button.allButton All Trails
    .allContainer
    button.visitedButton Visited Trails
    .visitedContainer
    button.wantToVisit Trails that you want to visit
    .wantToVisitContainer
        //- div.table__container
        //-     table
        //-         thead
        //-             tr
        //-                 th Belongs To
        //-                 th Trail ID
        //-                 th Visited
        //-                 th Want to visit?

        //-         tbody
        //-             tr
        //-                 each trail in collectionOfTrails
        //-                     td= trail.user_id
        //-                     td= trail.trail_id
        //-                     td= trail.visited
        //-                     td= trail.want_to_visit





            //- put each visited trail here!
