include navbar.pug

link(rel="stylesheet" href="/stylesheets/index.css")

.grid-container
    .links-container
        h2 Pick a state
        each state in states
            a(href=`/states/${state.dataValues.id}`)  #{state.dataValues.state_code} |

