include navbar.pug
    html
        head

            link(rel="stylesheet" href="/stylesheets/index.css")
    body
        .grid-container
            .links-container
                h2 View trails in your state:
                each state in states
                    a(href=`/states/${state.dataValues.state_code}`)  #{state.dataValues.state_code} |
