doctype html
html
  head
    block head
      title="Good Trails"
      link(rel='stylesheet' href='/stylesheets/reset.css')
      link(rel="stylesheet" href="/stylesheets/navbar.css")
  body
    div.navbar__container
      p.nav__logo Good<span id="logo-span">Trails</span>
      a.dropDown Menu
        ul.menuDropUl
          <li class="menuItems"><a href="/">Home</a></li>
          <li class="menuItems"><a href="/my-trails">My trails</a></li>
          <li class="menuItems"><a href="/trails/4">Trails</a></li>
          li.menuItems
            a(href="").searchState
            ul.menuSearchByState
              each state in states
                li.secondStateDropdown=state.dataValues.state_code
      a.home(href="/") Home
      a.trails(href="/my-trails") My Trails
      a.browse(href="/trails/4") Trail 4
      a.community Search by state
        .contain
          ul.searchByState
            each state in states
              li.stateDropdown=state.dataValues.state_code
      input(type="text" name="search" placeholder="Search Trails").search__bar
      img(src="/nav-images/NavbarBell.png", alt="Notifications").bell
      img(src="/nav-images/NavbarMsg.png", alt="Messages").msg
      img(src="/nav-images/NavBarMail.png", alt="Mail").mail
      img(src="/nav-images/NavbarFriends.png", alt="Friends").friends
    block content
