html
    head
        link(rel="stylesheet", href="/stylesheets/navbar.css")
        title Navbar
body
    div
        img(src="/images/NavbarLogo.png", alt="Logo")
        button Home
        button My Trails
        button Browse
        button Community
        input(type="text" name="search")
        img(src="/images/NavbarBell.png", alt="Notifications")
        img(src="/images/NavbarMsg.png", alt="Messages")
        img(src="/images/NavBarMail.png", alt="Mail")
        img(src="/images/NavbarFriends.png", alt="Friends")
