html
    head
        link(rel="stylesheet", href="/stylesheets/navbar.css")
        script(src="/javascripts/modal.js" type="module")
        title Navbar
body
    div.navbar__container
        p.nav__logo Good<span id="logo-span">Trails</span>
        form(action="/")
            button(type="submit").home Home
        form(action="/my-trails")
            button(type="submit").trails My Trails
        form(action="/trails/4")
            button(type="submit").browse Explore
        form(action="#")
            button(type="submit").community Community
        //- a.home(href="/") Home
        //- a.trails(href="/my-trails") My Trails
        //- a.browse(href="/trails/4") Trail 4
        //- a.community  Community
        input(type="text" name="search" placeholder="Search Trails").search__bar
        img(src="/nav-images/NavbarBell.png", alt="Notifications").bell
        img(src="/nav-images/NavbarMsg.png", alt="Messages").msg
        img(src="/nav-images/NavBarMail.png", alt="Mail").mail
        img(src="/nav-images/NavbarFriends.png", alt="Friends").friends
        form(action="/users/logout")
            button(type="submit").logout Log out
            .modalDiv
                .modal-info
                    p hello there
        form(action="/users/login")
            button(type="submit").login Log in
        form(action="/users/register")
            button(type="submit").signup Sign up
