extends layout.pug

append head
    //- script(src="/javascripts/states.js"type="module" defer)
    link(rel='stylesheet' href='/stylesheets/collections.css')


block content
    if trails.Trails.length
        h2 These are the delightful trails in your state.
        each trail in trails.Trails
            div.state__trails( id=`trail${trail.id}`)
                p=trail.id
                p=trail.name
                p=trail.description
    else
        p There are no trails in this state.
