extends layout.pug

block content
    include error.pug
    form(action='/login', method='post')
        input(type='hidden', name ='_csrf', value=csrfToken)
        label Email
        input(name='email', type='email', value=user.email required)
        label Password
        input(name='password', type='password', value=user.password, required )
        button(type='submit') Login
        a(href='/' ) Cancel
