h1 {
    color: #555555;
}

body{
    /* background-image: url("/images/trail0.jpeg"); */
    background-size:    cover;
    background-repeat:   no-repeat;
    background-position: center center;
    overflow: hidden;
    font-size: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.links-container {
    position: absolute;
    left: 30px;
    bottom: 30px;
    background-color: #2B2B2B;
    width: 1200px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #5A5A5A;
    text-decoration: none;
    color:white;
}

.links-container a, h2{
    color:white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.2rem;
}

.links-container a:hover{
    transition: all 0.4s ease 0s;
    color: #86c232;
}

.state_links {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
