/* Set up color variables */
:root{
  --main-background: #46344e;
  --secondary-background: #5a5560;
  --accent-color-neon: #faed26;
  --accent-color-normal: #9d8d8f;
  --text-color: white;
}

h1 {
  color: #FAED26;
}

body{
  background-color: #2B2B2B;
  color: white;
  overflow: hidden;
  font-size: 10px;
}

.grid-container{
  background-color: #5A5A5A;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "banner" "content";
}

.trail-banner {
  grid-area: "banner";
  margin: 5px;
}

.trail-content {
  grid-area: "content";
}

button {
    margin-top: 6px;
    color: #FAED26;
    background-color: #2B2B2B;
    background-image: none;
    border-color: #FAED26;
    display: block;
    width: 100%;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button:hover {
    color: #2B2B2B;
    background-color: #FAED26;
    background-image: none;
    border-color: #FAED26;
}

button:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.toggled {
    color: #2B2B2B;
    background-color: #FAED26;
}

.toggled:hover {
    color: #FAED26;
    background-color: #2B2B2B;
}

.review-login{
  background-color:#9D8D8f;
  width:140px;
  height:50px;
  color: #FFFFFF;
}

/* hidden form until .write-review button clicked */
.review-form-container{
  display:none;
  background-color: var(--secondary-background);
  border-radius:2rem;
  padding:30px;
  width:300;
  height: 300px;
  /* z-index: 10; */
}

.review-button{
  width : 10rem;
}
