/* Set up color variables */
:root{
  --main-background: #2B2B2B;
  --secondary-background: #5A5A5A;
  --accent-color-neon: #faed26;
  --accent-color-normal: #7c7c7c;
  --text-color: white;
}

h1 {
  color: #FAED26;
}

body{
  background-color: #2B2B2B;
  color: white;
  overflow: hidden;
  font-size: 10px;
}

button {
    margin-top: 6px;
    color: #FAED26;
    background-color: #2B2B2B;
    background-image: none;
    border-color: #FAED26;
    display: block;
    width: 100%;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button:hover {
    color: #2B2B2B;
    background-color: #FAED26;
    background-image: none;
    border-color: #FAED26;
}

button:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.grid-container{
  background-color: #5A5A5A;
  max-width: 1200px;
  margin: auto;
  display: grid;
  height:1000px;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "banner" "content";
}

/* left panel */
.trail-banner {
  grid-area: "banner";
  margin: 5px;
  margin-top:100px;
  display:absolute;
  max-width: 400px;
}

/* right panel */
.trail-content {
  grid-area: "content";
  max-width: 800px;
  padding-left: 30px;
  overflow-y: scroll;
}

img{
  object-fit: cover;
  width: 400px;
}


.toggled {
    color: #2B2B2B;
    background-color: #FAED26;
}

.toggled:hover {
    color: #FAED26;
    background-color: #2B2B2B;
}

.review-login{
  background-color:#9D8D8f;
  width:140px;
  height:50px;
  color: #FFFFFF;
}

/* hidden form until .write-review button clicked */
.review-form-container{
  display:none;
  background-color: var(--secondary-background);
  overflow:hidden;
  height: auto;
  padding:auto;
  margin-top:20px
  /* z-index: 10; */
}

.review-button{
  width : 10rem;
}

.review-open-button{
  margin:1rem;
  display:flex;
}

.review-open-div{
  display:flex;
  justify-content:center;
}

.review-form,
.review-text-area,
.submit-review,
.cancel-review
{
  margin:10px;
}

.submit-button-container{
  display:flex;
  margin:auto;
}
.review-form{
  /* justify-items:center; */
  padding-left:50px;
}

.review-display-container{
  margin-left:40px;
}
.review-display-container div{
  margin:10px;
  border:3px solid var(--main-background);
  border-radius:3px;
  padding:15px;
  height: 100px;
  width: 600px;
  overflow-y: scroll;
  background-color: var(--accent-color-normal)
}
